# Virtual Environments
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Node
node_modules/
dist/
dist-ssr/
build/

# Environment Variables
.env
.env.*
!.env.example

# OS / IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo
